/* Default Material Theme */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/* Custom Fonts */
@font-face {
  font-family: BRANDON_BLD;
  src: url(assets/fonts/BRANDON_BLD.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_BLK;
  src: url(assets/fonts/BRANDON_BLK.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_LIGHT;
  src: url(assets/fonts/BRANDON_LIGHT.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_MED;
  src: url(assets/fonts/BRANDON_MED.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_REG;
  src: url(assets/fonts/BRANDON_REG.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: BRANDON_MED }
