/* Default Material Theme */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/* Custom Fonts */
@font-face {
  font-family: BRANDON_BLD;
  src: url(assets/fonts/BRANDON_BLD.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_BLK;
  src: url(assets/fonts/BRANDON_BLK.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_LIGHT;
  src: url(assets/fonts/BRANDON_LIGHT.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_MED;
  src: url(assets/fonts/BRANDON_MED.otf) format("opentype");
}

@font-face {
  font-family: BRANDON_REG;
  src: url(assets/fonts/BRANDON_REG.otf) format("opentype");
}

/* Color Variables */
:root {
  --moonglow-accent: #D1D1D1;
  --moonglow: #EBEBEB;
  --tfg-orange: #FAA61A;
  --tfg-orange-accent: #E58C1B;
  --moonlight-blue: #009DDB;
  --moonlight-blue-accent: #0685C1;
  --midnight-gray: #393C3E;
  --limesplice-green: #BECE23;
  --limesplice-green-accent: #9FB122;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: BRANDON_MED;
}

/* Top Bar Styles */

.top-bar {
  background: var(--moonlight-blue);
  color: #fff;
  padding: 5px 20px;
  font-size: 18px;
}

  @media only screen and (min-width: 770px) {
    .top-bar {
      padding: 10px 50px;
      font-size: 24px;
    }
  }

  /* Header Styles */
.header {
  background: var(--midnight-gray);
  color: #fff;
  padding: 25px 20px;
  font-size: 18px;
}

.header img{
  height: 50px;
}

.header .column {
  float: left;
  width: auto;
}

.header .left {
  margin-right: 10px;
  height: 50px;
}

  .header .right {
    height: 50px;
    display: table;
  }

  .header p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
  }

.clearfix{
  overflow: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 768px) {
  .header{
    padding: 40px 50px;
    font-size: 36px;
  }
  .header img {
    height: 80px;
  }

  .header .left {
    margin-right: 50px;
    height: 80px;
  }

  .header .right{
    height: 80px;
  }
}

/* Videos Styles */

.active-video > *{
  padding: 0 10px;
}

.video-buttons img{
  width: 25px;
}

.video-embed video{
  width: 100%;
  height: auto;
}

.videos .buttons-container button{
  background: none;
  border: none;
  cursor: pointer;
}

.videos-list{
  padding: 0;
  margin: 70px 0 0 0;
}

  .videos-list .row {
    height: auto;
    cursor: pointer;
  }

.selected {
  border: 8px solid var(--tfg-orange);
  cursor: pointer;
  list-style: none;
}

.video-title {
  font-size: 26px;
  height: 50px;
}

.videos-list img {
  width: 90%;
  height: auto !important;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.video-bottom {
  width: 100%;
}

  .video-bottom .column {
    float: left;
  }

.video-views {
  width: 50%;
}

.videos-buttons {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.buttons-container .column {
  float: left;
}

.like-button, .dislike-button {
  width: auto;
  padding-left: 20px;
}

@media only screen and (min-width: 600px) {
    .video-views {
      width: 75%;
  }
}

    @media only screen and (min-width: 1025px) {
      .active-video > * {
        padding: 0 50px;
      }

      .videos .column {
        float: left;
      }

      .active-video {
        width: 70%;
      }

      .videos-list {
        width: calc(30% - 50px);
      }

        .videos-list img {
          width: 75%;
        }
    }

    /* Footer Styles */

    .footer img {
      width: 100px;
      display: block;
      margin: auto;
      margin: 25px auto 25px auto;
    }

    @media only screen and (min-width: 770px) {
      .footer img {
        width: 250px;
        margin: 50px auto 50px auto;
      }
    }
